/* regole generali */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Montserrat, Helvetica Neue , sans-serif;
    font-size: 12px;

}

/* intestazione pagina */

header {
    background-color: white;
    color: orange;
    /* debug */
    /* height: 80px; */
    
}

header h1 {
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: 50px;
}

/* corpo pagina principale */

.container-corpo {
    width: 80%;
    margin: 30px auto;
    /* debug */
    /* min-height: 400px;
    background-color: aquamarine; */

}

.genere {
    font-size: 10px;
    color: grey;
    
}

.container-corpo h2 {
    font-size: 20px;
    margin: 15px 0;
}

.text-plus {
    display: none;
}

.text-plus-social {
    display: none;
}

.how-make {
    background-color: white;
    padding-bottom: 15px;
}

.ricetta-container {
    margin: 20px 20px;

}

.how-make img {
    width: 100%;


}

.how-make h3 {
    margin-bottom: 20px;
}

.evidenza {
    font-weight: bold;
}

ul li {
    margin: 10px 0;
    list-style: none;
}

.social {
    font-size: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.social li {
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    

}

.social li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.banner img {
    width: 100%;
    display: none;
}

.container-corpo h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid orange;
    width: 40px;


}

.tiramisu img {
    width: 100%;
    

}

.tiramisu {
    margin: 20px 0;
}




/* barra footer */

footer {
    background-color: blueviolet;
    
    /* debug */
    /* min-height: 100px; */
    
}

.barra-footer {
    text-align: center;
    color: white;
    padding:20px 0;
}

.simbol {
    border: 1px solid white;
    padding: 1px;
    border-radius: 50%;


}

.nav-footer a {
    padding-left: 5px;
    color: white;

}

.indirizzo {
    margin-bottom: 10px;
}




@media screen and (min-width: 768px)  {
    

    header h1 {
        font-size: 2rem;
        text-align: start;
        margin-left: 10px;

    }

    

    .banner img {
        display: inline;
    }



    .ricetta {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        
    }

    .ricetta-pt2 {
        justify-content: flex-start;
        gap: 25%;
        
        
    }

    

    .tiramisu img {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 40%;
        float: left;
    }

    .tiramisu::after {
        display: table;
        content: "";
        clear: both;
    }

    
    
}


@media screen and (min-width:992px) {


    .text-plus-social {
        display: inline;
    }

    .container-corpo h2 {
        display: inline;

    }

    .text-plus {
        display: inline;
    }

    .social li {
        border-radius: 9999px;
   
    }


    
    .how-make {
        display: flex;
        
    }

    .how-make {
        padding-bottom: 0;
    }
    

    .container-img {
        width: 70%;
    }

    


    .ricetta-container {
        width: 30%;
    
        
    }

    .ricetta {
        display: block;
        
    }
    .tiramisu::after {
        display: table;
        content: "";
        clear: both;
    }

    .barra-footer {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}
